<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="savedSearch">
            <h2><span>Saved Search</span> {{ savedSearch.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>User ID</span></dt>
                <dd>
                    <span>{{ savedSearch.userID }}</span>
                </dd>
                <dt><span>Search</span></dt>
                <dd>
                    <span>{{ savedSearch.search }}</span>
                </dd>
                <dt><span>Netflix User</span></dt>
                <dd>
                    <div *ngIf="savedSearch.netflixUser">
                        <a [routerLink]="['/netflix-user', savedSearch.netflixUser?.id, 'view']">{{ savedSearch.netflixUser?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/saved-search', savedSearch.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
